#import init.sholes.usb.rc

on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

# Create mountpoints and mount tmpfs
    mkdir /pds 0775 system system
    mkdir /tmp 0777 system system
    mount tmpfs tmpfs /tmp size=2m

# Mount mtd partitions
    # mount /pds as r/w
    # We chown/chmod /pds again so because mount is run as root + defaults
    symlink /pds /config
    
# usb permissions
chmod 0660 /dev/mtp
chmod 0660 /dev/ttyGS0
chmod 0660 /dev/usb_device_mode
chmod 0660 /proc/mtpctl
chown mot_usb mot_usb /dev/mtp
chown mot_usb mot_usb /dev/ttyGS0
chown mot_usb mot_usb /dev/usb_device_mode
chown mot_usb mot_usb /proc/mtpctl
    
on post-fs
    start baseimage
    start pvrsrv 

on post-fs-data

    chmod 775 /data
    chmod 775 /data/system
    chmod 771 /data/misc/ril
    chmod 777 /data/misc/ril/RIL_RDS_SOCKET
    # wifi dirs
    mkdir /pds/wifi 0771 wifi wifi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    setprop vold.post_fs_data_done 1

    # copy hostapd configuration
    copy /system/etc/wifi/softap/hostapd.conf /data/misc/wifi/hostapd.conf

    # copy dnsmasq configuration
    copy /system/etc/wifi/dnsmasq.conf /data/misc/wifi/dns.conf
    chown wifi wifi /data/misc/wifi/dns.conf
    chmod 666 /data/misc/wifi/dns.conf
    exec /system/bin/sh /system/bin/init_early_bind_mounts.sh

on property:vold.post_fs_data_done=1
     start adbd

#    start mdm_panicd
#    start pppd-ril 
#tessstinggggg...

on boot


    #mount yaffs2 mtd@pds /config no-checkpoint-write

    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state



# Temp workaround for HP library cleanup
    symlink /dev/hp3a-omap /dev/hp3A-omap

# Permissions for video
    chmod 0770 /dev/hp3a-omap
    chmod 0770 /dev/hplens-omap
    chmod 0770 /dev/video0
    chmod 0770 /dev/video1
    chmod 0770 /dev/video2
    chown media camera /dev/hp3a-omap
    chown media camera /dev/hplens-omap
    chown media camera /dev/video0
    chown media graphics /dev/video1
    chown media graphics /dev/video2

 # Change the ownership of led files.
    chown system system /sys/class/leds/lcd-backlight/als
    chown system system /sys/class/leds/lcd-backlight/pwm_mode
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/keyboard-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/usb/brightness
    chown system system /sys/class/leds/torch-flash/camera_strobe
    chown media system /sys/class/leds/torch-flash/flash_light
    chown media system /sys/class/leds/spotlight/brightness
    chown media system /sys/class/leds/af-led/brightness
    chmod 0660 /sys/class/leds/lcd-backlight/brightness
    chmod 0660 /sys/class/leds/keyboard-backlight/brightness
    chmod 0660 /sys/class/leds/button-backlight/brightness
    chmod 0660 /sys/class/leds/red/blink
    chmod 0660 /sys/class/leds/red/brightness
    chmod 0660 /sys/class/leds/green/brightness
    chmod 0660 /sys/class/leds/blue/brightness
    chmod 0660 /sys/class/leds/usb/brightness
    chmod 0666 /sys/class/leds/torch-flash/camera_strobe
    chmod 0666 /sys/class/leds/torch-flash/flash_light
    chmod 0666 /sys/class/leds/spotlight/brightness

# Permissions for 3D
    chmod 0666 /dev/pvrsrvkm
    chown system graphics /dev/pvrsrvkm


# Power Management Settings
    write /sys/devices/platform/ohci.0/usb2/2-3/power/level auto
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 250000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1000000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor conservative
    #write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/up_threshold 93
    #write /sys/devices/system/cpu/cpu0/cpufreq/ondemand/sampling_rate 30000
    # Wakelock debug
    write /sys/module/wakelock/parameters/debug_mask 7

# Page Merging
#    write /sys/kernel/mm/ksm/sleep_millisecs 1000 
chown system system /sys/kernel/mm/ksm/run
chmod 0666 /sys/kernel/mm/ksm/run

    write /sys/kernel/mm/ksm/run 0

# Enable panic on softlockup
    write /proc/sys/kernel/softlockup_panic 1

# Load traffic shaping modules

##### try building as modules again
#    insmod /system/lib/modules/cfbfillrect.ko
#    insmod /system/lib/modules/cfbimgblt.ko
#    insmod /system/lib/modules/cfbcopyarea.ko
#    insmod /system/lib/modules/fb.ko
#    insmod /system/lib/modules/omapdss.ko dsi_fps=1 dsi_perf=1 def_disp="sholes-panel" def_disp_name=panel-sholes
#    insmod /system/lib/modules/panel-sholes.ko
#    insmod /system/lib/modules/output.ko
#    insmod /system/lib/modules/vout.ko
#    insmod /system/lib/modules/omapfb.ko vram=0:8m
###

    insmod /system/lib/modules/xt_quota2.ko
    insmod /system/lib/modules/xt_owner2.ko
    insmod /system/lib/modules/ifb.ko
    insmod /system/lib/modules/act_mirred.ko
    insmod /system/lib/modules/sch_ingress.ko
    insmod /system/lib/modules/act_police.ko
    insmod /system/lib/modules/cls_u32.ko
    insmod /system/lib/modules/sch_htb.ko
    insmod /system/lib/modules/em_u32.ko

#service usbd /system/bin/usbd
#    class core
#    user root
#    group mot_usb system
#    socket usbd stream 0666 mot_usb mot_usb

# Ecompass daemon
service akmd2 /system/bin/akmd2
    class core
    user compass
    group compass misc input

service wlan_loader /system/bin/wlan_loader \
    -f /system/etc/wifi/fw_wlan1271.bin -i /system/etc/wifi/tiwlan.ini \
    -e /config/wifi/nvs_map.bin
    class core
    disabled
    oneshot

service hostap_netd /system/bin/hostap -d /data/misc/wifi/hostapd.conf
    class core
    group wifi system inet net_admin
    socket tiap0 dgram 660 wifi wifi
    disabled
    oneshot

service wlan_ap_loader /system/bin/tiap_loader \
    -f /system/etc/wifi/fw_tiwlan_ap.bin -i /system/etc/wifi/softap/tiwlan_ap.ini \
    -e /config/wifi/nvs_map.bin
    class core
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dtiwlan0 -itiwlan0 -c/data/misc/wifi/wpa_supplicant.conf
# we will start as root and wpa_supplicant will switch to user wifi
# after setting up the capabilities required for WEXT
# user wifi
# group wifi inet keystore
    socket wpa_tiwlan0 dgram 660 wifi wifi
    class core
    disabled
    oneshot

service dhcpcd_tiwlan0 /system/bin/dhcpcd -ABKL
    class core
    disabled
    oneshot

service iprenew_tiwlan0 /system/bin/dhcpcd -n
    class core
    disabled
    oneshot

service battd /system/bin/battd
    socket battdsock stream 0660 mot_accy mot_accy
    class core
    user root
    group mot_accy mot_pwric
    oneshot

service pppd-ril /system/bin/pppd-ril /dev/ttyUSB0 call pppd-ril.options plugin /system/lib/libpppd_plugin-ril.so
    class main
    user root
    disabled
    oneshot

service hciattach /system/bin/hciattach \
    -n -t 10 /dev/ttyS1 texasalt 3000000 flow
    class core
    user bluetooth
    group bluetooth net_bt_admin
    disabled

service baseimage /system/bin/dspexec -v -T /system/lib/dsp/baseimage.dof
    class core
    oneshot
#    disabled

service pvrsrv /system/bin/sgx/rc.pvr start
    class core
    user root
    oneshot
    disabled

# bugreport is triggered by the KEY_LEFTSHIFT and KEY_MENU keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    class core
    disabled
    oneshot
    keycodes 42 139

service tcmd /system/bin/tcmd
    class core
    oneshot
    disabled

service ftmipcd /system/bin/ftmipcd
    class core
    oneshot
    disabled

service mdm_panicd /system/bin/mdm_panicd
   class core
   oneshot
#   disabled

on property:ro.bootmode=factorycable
    start tcmd
    start ftmipcd

#get BP version and save to misc
service savebpver /system/bin/SaveBPVer
   class late_start
   oneshot
   disabled

on property:dev.bootcomplete=1
   start savebpver

service fmradio /system/bin/fmradioserver
    class main
    user system
    group bluetooth net_bt_admin net_raw net_admin misc
    disabled


